!!! 5
html
    head
    
        //meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')      
        link(rel='stylesheet', type='text/css', href='css/cmxcanvas.css')
        
        script(data-main='js/app.frontend', src='js/libs/require.js')

    body
        #MAIN
        #CmxCanvas

