#library.container 
    .row
        each issue in issues  
            .col-sm-4.issueEntry
                a(issueId=issue.attributes._id, href="/#/comic/"+issue.attributes._id)
                    img.img-responsive(src=issue.attributes.thumb)
                    p
                        = issue.attributes.series.name.toUpperCase() +':'
                        br
                        = issue.attributes.title