/* Google Fonts imports  */
@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

$canvas-h: 450px;
$canvas-w: 800px;
$liGray: #777;
$cornsilk: #FFF8DC;
$cmxcanvasBlue: #000080;
$cmxDarkBlue: #000080;
$cranberry: #9F000F;
$sunYellow: #FFE87C;
$cornsilk: #FFF8DC;

@mixin anim-maxH($dur){
    -moz-transition: max-height $dur ease;
    -webkit-transition: max-height $dur ease;
    -o-transition: max-height $dur ease;
    transition: max-height $dur ease;
}

@mixin fakeStroke($color: black, $width: 1px) {
    //text-shadow: -$width -$width 0 $color, $width $width 0 $color;
}


/* Default Nav Bg & Text  */

html {
    background-color: #2A2522;
}

#footer, #topnav {
    background-color: $cornsilk;
    color: black;
    a, a:hover {
        color: $cmxDarkBlue;
    }
    @include fakeStroke($color:#ccc, $width:1px);
}

#toc .active, #topnav .libNav.active {
        a {
            color: $cornsilk;
            background-color: $cmxDarkBlue;
        }
}

body {
    font-family: 'Oswald', Arial, sans-serif;
    overflow-x: hidden;
    // background-color: $cmxDarkBlue;
    background-color: transparent;

    > div {
        // min-width: 900px;
    }
}

a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Futura, Arial, sans-serif;
}

.btn {
    border-radius: 0;
}

nav {
    cursor: pointer;
}

.nav {
    border-radius: 0;
    .caret {
        border-top-color: $cmxDarkBlue;
        border-bottom-color: $cmxDarkBlue;
    }
}

.nav-wrapper {
    margin: 0;
    font-family: 'Oswald', Arial, sans-serif;
    letter-spacing: 0.03em;
    border-top: 4px solid $cranberry;
    &.foot {
        border: 0;
    }
}

.container {
    // min-width: 900px;
    margin: auto;
    padding: 0;
}

#CmxCanvas {
    
    .nav-wrapper {
        &.foot {
            border-bottom: 4px solid $cranberry;
        }
    }
}

#topnav {
    
    margin: auto;
    border-color: $cornsilk;

    button {
        min-width: 30px;
        min-height: 30px;
    }

    ul {
        float: right;
    }

    .navbar-brand {
        font-size: 2.2em;

        .subBrand {
            font-size: 0.6em;
        }
    }
    a {
        font-size: 1.2em;
        display: block;
        min-height: 50px;
    }

    .nav > li {
        .lib-Nav {
            a {
                display: inline;
                vertical-align: text-bottom;
            }
        }
    }

    .contactmenu {
        margin-left: -134px;
    }
    .instructionsmenu {
        li {
            color: black;
        }
        padding: 10px;
    }
}

// .readcomic.bggrad {
//     // background: -webkit-linear-gradient(bottom, #ccc, #000);
//     background: -webkit-radial-gradient(circle, #232323, #ccc);
// }

#readcomic.container {
    canvas#stagingCanvas {
        display: none;
    }
    #canvas_container {
        position: relative;
        margin: 30px auto;
        width: 100%;

        canvas#cmx {
            display: block;
            padding: 0px;
            margin: auto;
            // box-shadow:  -3px -3px 10px #ddd,  3px 3px 10px #ddd;
            background-color: white;        
        }

        #rightbutton {
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            background-color: rgba(255, 0, 0, 0);
            html.touchIs &{
                display: none;
            }
        }

        #centertap {
            width: 20%;
            height: 100%;
            top: 0;
            left: 40%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
        }

        #leftbutton {
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-color: rgba(0, 0, 255, 0);
            html.touchIs &{
                display: none;
            }
        }

        .ui-arrow {
            top: 43%;
            font-size: 4.5em;
            color: $liGray;
            &.pull-left {
                transform:scale(-1, 1);;
                -ms-transform:scale(-1, 1);;  
                -webkit-transform:scale(-1, 1);;
            }
            // &:hover {
            //     color: black;
            // }
            &:active {
                color: black;
            }
        }
    }

    .arrow {
        position: relative;
        line-height: 450px;
        vertical-align: middle;
    }
}


//consider moving this to its own file so it loads with the js that generates it.

#footer {

        .navbar-brand {
            font-size: 1.3em;
        }

        margin: auto;
        border-color: $cornsilk;
        a.navbar-brand {
            padding: {
                top: 5px;
                bottom: 5px;
            }
        }
        .moreinfoBtn {
            margin: 5px 0;
            span.caret {
                vertical-align: middle;
                &.reverse {
                    transform:rotate(180deg);
                    -ms-transform:rotate(180deg);  
                    -webkit-transform:rotate(180deg);
                }
            }
            a {
                &:hover {
                    color: black;
                }
            }
        }
        #moreinfo {
            // min-width: 900px;
            margin: auto;
            clear: both;
            max-height: 0px;
            overflow: hidden;
            @include anim-maxH(0.25s);
            font-size: 1.1em;
            max-height: 0px;
            padding-top: 0.75em;
            &.open {
                max-height: 250px;
                // padding-top: 0.75em;
                //box-shadow: inset 0 3px 6px rgba(0,0,160, 0.2);*/
            }
            .issueDetails {
                li {
                    display: block;
                }
            }
        }
    }

/* move into its own partial someday */

#library.container {
    padding-top: 1%;
    .issueEntry {
        position:relative;
        height: 100%;
        color: black;
        text-align: center;
        cursor: pointer;
        a {
            color: $cornsilk;
            &:hover {
                color: #9F000F;
                font-size: 1.25em;
                letter-spacing: 0.4px;
                font-weight: 400;
            }

            img {
                display: block;
                margin: auto;
                border: 5px solid black;
                margin: 8% auto 6% auto;
                padding: 2%;
                width: 70%;
                background-color: white;
                &:hover {
                    border-color: #9F000F;
                }
            }
            p {
                padding-bottom: 4%;
                font-size: 1.25em;
                font-weight: bold;
                line-height: 1.2em;
            }
        }
        
    }
}