@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
/* Google Fonts imports  */
/* Default Nav Bg & Text  */
html {
  background-color: #2A2522; }

#footer, #topnav {
  background-color: cornsilk;
  color: black; }
  #footer a, #footer a:hover, #topnav a, #topnav a:hover {
    color: navy; }

#toc .active a, #topnav .libNav.active a {
  color: cornsilk;
  background-color: navy; }

body {
  font-family: 'Oswald', Arial, sans-serif;
  overflow-x: hidden;
  background-color: transparent; }

a:hover {
  text-decoration: none; }

h1, h2, h3 {
  font-family: Futura, Arial, sans-serif; }

.btn {
  border-radius: 0; }

nav {
  cursor: pointer; }

.nav {
  border-radius: 0; }
  .nav .caret {
    border-top-color: navy;
    border-bottom-color: navy; }

.nav-wrapper {
  margin: 0;
  font-family: 'Oswald', Arial, sans-serif;
  letter-spacing: 0.03em;
  border-top: 4px solid #9f000f; }
  .nav-wrapper.foot {
    border: 0; }

.container {
  margin: auto;
  padding: 0; }

#CmxCanvas .nav-wrapper.foot {
  border-bottom: 4px solid #9f000f; }

#topnav {
  margin: auto;
  border-color: cornsilk; }
  #topnav button {
    min-width: 30px;
    min-height: 30px; }
  #topnav ul {
    float: right; }
  #topnav .navbar-brand {
    font-size: 2.2em; }
    #topnav .navbar-brand .subBrand {
      font-size: 0.6em; }
  #topnav a {
    font-size: 1.2em;
    display: block;
    min-height: 50px; }
  #topnav .nav > li .lib-Nav a {
    display: inline;
    vertical-align: text-bottom; }
  #topnav .contactmenu {
    margin-left: -134px; }
  #topnav .instructionsmenu {
    padding: 10px; }
    #topnav .instructionsmenu li {
      color: black; }

#readcomic.container canvas#stagingCanvas {
  display: none; }
#readcomic.container #canvas_container {
  position: relative;
  margin: 30px auto;
  width: 100%; }
  #readcomic.container #canvas_container canvas#cmx {
    display: block;
    padding: 0px;
    margin: auto;
    background-color: white; }
  #readcomic.container #canvas_container #rightbutton {
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(255, 0, 0, 0); }
    html.touchIs #readcomic.container #canvas_container #rightbutton {
      display: none; }
  #readcomic.container #canvas_container #centertap {
    width: 20%;
    height: 100%;
    top: 0;
    left: 40%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0); }
  #readcomic.container #canvas_container #leftbutton {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 255, 0); }
    html.touchIs #readcomic.container #canvas_container #leftbutton {
      display: none; }
  #readcomic.container #canvas_container .ui-arrow {
    top: 43%;
    font-size: 4.5em;
    color: #777777; }
    #readcomic.container #canvas_container .ui-arrow.pull-left {
      transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1); }
    #readcomic.container #canvas_container .ui-arrow:active {
      color: black; }
#readcomic.container .arrow {
  position: relative;
  line-height: 450px;
  vertical-align: middle; }

#footer {
  margin: auto;
  border-color: cornsilk; }
  #footer .navbar-brand {
    font-size: 1.3em; }
  #footer a.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px; }
  #footer .moreinfoBtn {
    margin: 5px 0; }
    #footer .moreinfoBtn span.caret {
      vertical-align: middle; }
      #footer .moreinfoBtn span.caret.reverse {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg); }
    #footer .moreinfoBtn a:hover {
      color: black; }
  #footer #moreinfo {
    margin: auto;
    clear: both;
    max-height: 0px;
    overflow: hidden;
    -moz-transition: max-height 0.25s ease;
    -webkit-transition: max-height 0.25s ease;
    -o-transition: max-height 0.25s ease;
    transition: max-height 0.25s ease;
    font-size: 1.1em;
    max-height: 0px;
    padding-top: 0.75em; }
    #footer #moreinfo.open {
      max-height: 250px; }
    #footer #moreinfo .issueDetails li {
      display: block; }

/* move into its own partial someday */
#library.container {
  padding-top: 1%; }
  #library.container .issueEntry {
    position: relative;
    height: 100%;
    color: black;
    text-align: center;
    cursor: pointer; }
    #library.container .issueEntry a {
      color: cornsilk; }
      #library.container .issueEntry a:hover {
        color: #9F000F;
        font-size: 1.25em;
        letter-spacing: 0.4px;
        font-weight: 400; }
      #library.container .issueEntry a img {
        display: block;
        margin: auto;
        border: 5px solid black;
        margin: 8% auto 6% auto;
        padding: 2%;
        width: 70%;
        background-color: white; }
        #library.container .issueEntry a img:hover {
          border-color: #9F000F; }
      #library.container .issueEntry a p {
        padding-bottom: 4%;
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.2em; }
